/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */


.pswp__button--rotate, .pswp__button--rotate:before {
  background: url('/assets/rotate.png') 12px 12px no-repeat;
  background-size: 20px 20px;
  width: 44px;
  height: 44px;
  /* visibility: hidden; */
  background: inherit !important;
}

video {
  visibility: hidden;
  position: absolute;
}

video.full {
  visibility: visible;
  position: absolute;
  max-width: 100%;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover {
  border: 1px solid #000;
  background: #DDD;
}

.ui-widget-content .ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-helper-hidden-accessible {
  display: none;
}

a:hover {
  color: #666;
  text-decoration: none;
}

a:active {
  color: #666;
  text-decoration: none;
}

a:link {
  color: #FF761C;
  text-decoration: none;
  font-weight: bold;
}

img {
  border: none;
  vertical-align: middle;
}

img.preview {
  padding: 2px;
  margin: auto;
}

img.preview:hover {
  padding:0px;
  border:2px solid #DDD;
}

img.full {
  max-width:100%;
}

span.thumb {
  position: relative;
  height: 180px;
  width: 180px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  border: 1px transparent;
}

.play-button {
  margin: 0 auto;
  top: 39%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  position: absolute;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 20px 0px 20px 40px;
  border-color: transparent transparent transparent #000;
  opacity: 0;
  z-index: 2;
}

.play-button:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

 /* The sidebar menu */
.sidenav {
  height: 95%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  font-family: Meiryo,Hiragino Kaku Gothic Pro W3,Arial,Helvetica Neue,sans-serif;
  font-size: 74%;
  font-weight: bold;
  padding: 0px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

a.character {
  color: #0A0;
}

a.artist {
  color: #A00;
}

a.genre {
  color: #FF761C;
}

a.series {
  color: #A0A;
}

a.medium {
  color: #2585BB;
}

/* Style page content */
.main {
   margin-left: 240px; /* Same as the width of the sidebar */
   padding: 0px 10px;
}
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
/* line 7, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}

/* line 22, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp img {
  max-width: none;
}

/* style is added when JS option showHideOpacity is set to true */
/* line 29, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* line 37, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp--open {
  display: block;
}

/* line 40, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 46, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

/* line 52, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
/* line 62, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

/* line 75, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 83, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */
/* line 94, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* line 103, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* line 113, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* line 119, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none;
}

/* line 124, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

/* line 128, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 136, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
/* line 147, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
/* line 154, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__img--placeholder--blank {
  background: #222;
}

/* line 157, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
/* line 167, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

/* line 178, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/photoswipe.scss */
.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}
/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
	
	1. Buttons

 */
/* <button> css reset */
/* line 21, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 39, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button:focus, .pswp__button:hover {
  opacity: 1;
}

/* line 41, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

/* line 44, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
/* line 49, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

/* line 52, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(/assets/photoswipe/default-skin/default-skin-fd2d3fed8d73fb4a3265475c444817343f3383348c254428f85e7b4b076c7dcf.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  /* line 62, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(/assets/photoswipe/default-skin/default-skin-6dc726bc8f137fa9051f66fbed7b89480c64986e67253879e9d85bb1a8e2677c.svg);
  }

  /* line 66, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}
/* line 70, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--close {
  background-position: 0 -44px;
}

/* line 73, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--share {
  background-position: -44px -44px;
}

/* line 76, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--fs {
  display: none;
}

/* line 79, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--supports-fs .pswp__button--fs {
  display: block;
}

/* line 82, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

/* line 85, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

/* line 89, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* line 92, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

/* no arrows on touch screens */
/* line 96, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
/* line 104, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

/* line 113, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--arrow--left {
  left: 0;
}

/* line 116, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--arrow--right {
  right: 0;
}

/* line 119, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

/* line 128, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

/* line 132, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

	2. Share modal/popup and links

 */
/* line 141, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 148, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

/* line 164, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-modal--hidden {
  display: none;
}

/* line 167, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

/* line 185, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

/* line 192, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

/* line 195, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0;
}

/* line 198, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

/* line 201, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-modal--fade-in {
  opacity: 1;
}

/* line 203, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__share-modal--fade-in .pswp__share-tooltip {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* increase size of share links on touch devices */
/* line 209, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

/* line 212, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

/* line 226, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

/* line 229, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

/* line 232, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

/* line 236, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

/* line 240, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
a.pswp__share--download:hover {
  background: #DDD;
}

/*

	3. Index indicator ("1 of X" counter)

 */
/* line 248, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*
	
	4. Caption

 */
/* line 264, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

/* line 270, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

/* line 274, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

/* line 283, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__caption--empty {
  display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
/* line 287, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__caption--fake {
  visibility: hidden;
}

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
/* line 297, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr;
}

/* line 310, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

/* line 315, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__preloader--active {
  opacity: 1;
}

/* line 317, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url(/assets/photoswipe/default-skin/preloader-80d7ed3f3f4b50628f219778db814955e7d2007c05be88556778f90ee290715c.gif) 0 0 no-repeat;
}

/* line 321, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

/* line 323, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

/* line 326, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

/* line 330, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

/* line 340, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--css_animation .pswp__preloader__cut {
  /* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

/* line 350, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--css_animation .pswp__preloader__donut {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  /* line 366, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/*
	
	6. Additional styles

 */
/* root element of UI */
/* line 417, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
/* line 424, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

/* line 431, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
/* line 441, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

/* line 445, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
/* line 450, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
/* line 455, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

/* line 458, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
/* line 466, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
/* line 474, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

/* line 479, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp__element--disabled {
  display: none !important;
}

/* line 482, /var/lib/gems/2.3.0/gems/photoswipe-rails-4.1.2/app/assets/stylesheets/photoswipe/default-skin/default-skin.scss */
.pswp--minimal--dark .pswp__top-bar {
  background: none;
}
/*


 */
