/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require photoswipe
 */
 div.gallery {
     margin: 5px;
     border: 1px solid #ccc;
     float: left;
     width: 180px;
 }

 div.gallery:img:hover {
     border: 1px solid #777;
 }

 div.gallery img {
     width: 100%;
     height: auto;
 }

 div.desc {
    padding: 1px;
    text-align: center;
 }

 div.desc:hover {
   background-color: gray;
 }

 /* The sidebar menu */
 .sidenav {
     height: 95%; /* Full-height: remove this if you want "auto" height */
     width: 240px; /* Set the width of the sidebar */
     position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     z-index: 1; /* Stay on top */
     top: 0; /* Stay at the top */
     left: 0;

     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 20px;
 }

 /* The navigation menu links */
 .sidenav a {
     padding: 0px 8px 6px 16px;
     text-decoration: none;

     display: block;
 }

 a.character {
   color: #0A0;
 }

 a.artist {
   color: #A00;
 }

 a.genre {
   color: #FF761C;
 }

 a.series {
   color: #A0A;
 }

 /* Style page content */
 .main {
     margin-left: 240px; /* Same as the width of the sidebar */
     padding: 0px 10px;
 }
