/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require photoswipe
 */

button.pswp__button.pswp__button--rotate-cc {
  background: url('/assets/rotatecc.png') 50% 50% no-repeat;
  background-size: 15px 15px;
}

button.pswp__button.pswp__button--rotate {
  background: url('/assets/rotate.png') 50% 50% no-repeat;
  background-size: 15px 15px;
}

video {
  visibility: hidden;
  position: absolute;
}

video.full {
  visibility: visible;
  position: absolute;
  max-width: 100%;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover {
  border: 1px solid #000;
  background: #DDD;
}

.ui-widget-content .ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-helper-hidden-accessible {
  display: none;
}

a:hover {
  color: #666;
  text-decoration: none;
}

a:active {
  color: #666;
  text-decoration: none;
}

a:link {
  color: #FF761C;
  text-decoration: none;
  font-weight: bold;
}

img {
  border: none;
  vertical-align: middle;
}

img.preview {
  padding: 2px;
  margin: auto;
}

img.preview:hover {
  padding:0px;
  border:2px solid #DDD;
}

img.full {
  max-width:100%;
}

span.thumb {
  position: relative;
  height: 180px;
  width: 180px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  border: 1px transparent;
}

.play-button {
  margin: 0 auto;
  top: 39%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  position: absolute;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 20px 0px 20px 40px;
  border-color: transparent transparent transparent #000;
  opacity: 0;
  z-index: 2;
}

.play-button:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

 /* The sidebar menu */
.sidenav {
  height: 95%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  font-family: Meiryo,Hiragino Kaku Gothic Pro W3,Arial,Helvetica Neue,sans-serif;
  font-size: 74%;
  font-weight: bold;
  padding: 0px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

a.character {
  color: #0A0;
}

a.model {
  color: #FF0066;
}

a.artist {
  color: #A00;
}

a.genre {
  color: #FF761C;
}

a.series {
  color: #A0A;
}

a.medium {
  color: #2585BB;
}

/* Style page content */
.main {
   margin-left: 240px; /* Same as the width of the sidebar */
   padding: 0px 10px;
}
